accelerate==0.15.0
basicsr>=1.4.2
diffusers>=0.12.1
facexlib>=0.2.5
fairscale==0.4.4
fastapi==0.88.0
gfpgan>=1.3.7
huggingface_hub>=0.11.1
loguru==0.6.0
open_clip_torch==2.9.1
opencv-python
protobuf==3.20
pyngrok==5.2.1
python-multipart==0.0.5
realesrgan>=0.2.5
streamlit==1.16.0
streamlit-drawable-canvas==0.9.0
st-clickable-images==0.0.3
timm==0.4.12
torch>=1.12.0
torchvision>=0.13.0
transformers==4.25.1
uvicorn==0.15.0